/* CSS */
footer {
  height: 100px;
  background-color: #2F365f;
  color: #F7F1ED;
  text-align: center;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.footer-title {
  font-weight: bold;
}

.footer-desc {
  display: flex;
  gap: 20px;
}