<footer id="footer">
    <div id="footer_info">
       <div class="container">
          <div class="row">
             <div class="footer_info">
                <p>&copy; 2024 한이음 프로젝트 Code BOomBOom. All rights reserved.</p>
                <address>
                    <p>강인석</p>
                    <p>윤건우</p>
                    <p>김보송</p>
                    <p>박솔빈</p>
                    <p>조준형</p>
                </address>
             </div>
          </div>
       </div>
    </div>
</footer>