<header>
    <h1>
        <a href="/">
            <em><img src="/static/img/logo.png" alt="Code BOom BOom"></em>
            Code BOomBOom
        </a>
    </h1>
    <nav class="nav">
        <ul class="clearfix">
            <li><a href="https://owasp.org/www-project-top-ten/">OWASP Top 10</a></li>
            <li><a href="https://cwe.mitre.org/">CWE List</a></li>
            <li><a href="https://www.owasp.org/index.php/Category:OWASP_Development_Guidelines">OWASP Development Guidelines</a></li>
            <button id="download" style="margin-top: 20px; padding: 10px 20px; font-size: 16px;">PDF</button>
        </ul>
    </nav>
</header>