<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code BOomBOom</title>
    <link href="/static//img//logo.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet",type="text/css" href = "/static/css/init.css">
    <link rel="stylesheet",type="text/css" href = "/static/css/header.css">
    <link rel="stylesheet",type="text/css" href = "/static/css/footer.css">
    <link rel="stylesheet",type="text/css" href = "/static/css/input.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div class="upload">
            <form id="upload-form" method="POST" enctype="multipart/form-data" action="/upload">
                <div class="upload-form-inner">
                    <input type="file" id="file-upload" name="file-upload" style="display: none;" />
                    <button type="button" id="custom-button">파일 선택</button>
                    <span id="file-name">선택된 파일이 없습니다.</span>
                    <button type="submit">Upload</button>
                </div>
            </form>
        </div>
    </main>
    <script src="/static/js/main.js"></script>
    {% include 'footer.html' %}
</body>
</html>